@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap");

/* CSS reset */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Inter", sans-serif;
}

ol,
ul,
li {
  list-style: none;
}

:root {
  --main-color: #a78bfa;
  --accent-color: #c4b5fd;
  --sub-color: #f5f3ff;
}

body {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-areas:
    "sidebar header"
    "sidebar main-content";
}

/* header */
.header {
  grid-area: header;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas:
    "search-container profile-container"
    "welcome-container btns-container";

  border: 1px solid gray;
}

.search-container {
  grid-area: search-container;
}

.profile-container {
  grid-area: profile-container;
}

.welcome-container {
  grid-area: welcome-container;
}

.btns-container {
  grid-area: btns-container;
}

.header-btn {
  background: var(--main-color);
  border-radius: 999px;
  box-shadow: var(--main-color) 0 10px 20px -10px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}

/* sidebar */
.sidebar {
  grid-area: sidebar;
  background-color: var(--main-color);
  color: white;
}

/* main content */
.main-content {
  grid-area: main-content;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas:
    "projects announcements"
    "projects trends";
}
