@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap");

/* CSS reset */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Inter", sans-serif;
  vertical-align: baseline;
}

ol,
ul,
li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: inherit;
}

:root {
  --main-color: #a78bfa;
  --accent-color: #c4b5fd;
  --sub-color: #f5f3ff;
  --light-gray: #e2e8f0;
  --dark-gray: #f1f5f9;
}

body {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-areas:
    "sidebar header"
    "sidebar main-content";
}

.profile-img {
  border-radius: 50%;
  height: 45px;
  width: auto;
  border: var(--accent-color) solid 3px;
  background-color: white;
}

/* header */
.header {
  padding: 20px 35px 20px 35px;
  grid-area: header;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas:
    "search-container profile-container"
    "welcome-container btns-container";
}

.search-container {
  grid-area: search-container;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

#search-input {
  width: 60%;
  border: 3px solid var(--main-color);
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: var(--main-color);
  justify-content: center;
  align-items: flex-start;
}

#search-input:focus {
  color: var(--main-color);
}

.search-btn {
  width: 40px;
  height: 36px;
  border: 1px solid var(--main-color);
  background: var(--main-color);
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
  padding: 5px;
}

.profile-container {
  grid-area: profile-container;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 20px;
  font-size: 16px;
  font-weight: 600;
}

#user-profile-img {
  height: 35px;
  width: auto;
}

.welcome-profile-container {
  padding-top: 20px;
  grid-area: welcome-container;
  display: grid;
  grid-template-areas: "profile-img welcome-text";
  justify-content: left;
  align-items: center;
  gap: 20px;
}

.welcome-profile-img {
  grid-area: profile-img;
}

#welcome-profile-img {
  height: 80px;
}
.welcome-text {
  grid-area: welcome-text;
  font-size: 18px;
}

.btns-container {
  grid-area: btns-container;
  justify-content: center;
  align-items: flex-end;
  display: flex;
  gap: 20px;
  padding-bottom: 17px;
}

.header-btn {
  background: var(--main-color);
  border-radius: 999px;
  box-shadow: var(--main-color) 0 10px 20px -10px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}

/* sidebar */
.sidebar {
  padding: 35px;
  grid-area: sidebar;
  background-color: var(--main-color);
  color: white;
  font-weight: 600;
  font-size: 20px;
  align-items: left;
  gap: 70px;
}

.top-links {
  padding-top: 55px;
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.bottom-links {
  padding-top: 75px;
  display: flex;
  flex-direction: row;
  justify-content: left;
}

#sidebar-link {
  font-size: 18px;
  margin-left: 20px;
  align-items: center;
  justify-content: center;
}

#sidebar-icons {
  height: 15px;
  align-items: center;
  justify-content: center;
}

/* main content */
.main-content {
  grid-area: main-content;
  display: grid;
  grid-template-columns: 2fr 1fr;

  grid-template-areas:
    "projects announcements"
    "projects trends";
  padding: 40px;
  background-color: var(--dark-gray);
}

h4 {
  font-weight: 600;
  font-size: 22px;
  padding: 10px 0 10px 0;
}
.projects {
  display: grid;
  resize: both;
  overflow: auto;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px;
  padding-right: 25px;
}

.project {
  background-color: white;
  border-left: var(--accent-color) 7px solid;
  border-radius: 5px;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.project h5 {
  font-weight: 600;
  font-size: 18px;
}

.project-action {
  padding: 5px;
  justify-content: center;
  align-items: center;
  gap: 35px;
}

.project-action img {
  width: 20px;
  height: auto;
}

hr {
  height: 2px;
  color: var(--dark-gray);
}

.announcements-container,
.trending-container {
  background-color: white;
  border-radius: 5px;
  padding: 15px;
}

.announcement p {
  font-size: 15px;
}

.trending-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: "user-profile-img user-info";
}

.user-profile-img {
  grid-area: user-profile-img;
}

.user-info {
  grid-area: user-info;
}

.user-name {
  font-size: 14px;
}

.user-info {
  font-weight: 300;
  font-size: 12px;
}
