@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap");

/* CSS reset */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Inter", sans-serif;
}

ol,
ul,
li {
  list-style: none;
}

:root {
  --main-color: #a78bfa;
  --accent-color: #c4b5fd;
  --sub-color: #f5f3ff;
  --light-gray: #e2e8f0;
  --dark-gray: #cbd5e1;
}

body {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-areas:
    "sidebar header"
    "sidebar main-content";
}

.profile-img {
  border-radius: 50%;
  height: 55px;
  width: auto;
  border: var(--accent-color) solid 3px;
  background-color: white;
}

/* header */
.header {
  grid-area: header;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas:
    "search-container profile-container"
    "welcome-container btns-container";
}

.search-container {
  grid-area: search-container;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  padding: 35px;
}

#search-input {
  width: 60%;
  border: 3px solid var(--main-color);
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: var(--main-color);
  justify-content: center;
  align-items: flex-start;
}

#search-input:focus {
  color: var(--main-color);
}

.search-btn {
  width: 40px;
  height: 36px;
  border: 1px solid var(--main-color);
  background: var(--main-color);
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
  padding: 5px;
}

.profile-container {
  grid-area: profile-container;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 35px;
  gap: 20px;
  font-size: 16px;
  font-weight: 600;
}

#user-profile-img {
  height: 40px;
  width: auto;
}

.profile-container .welcome-container {
  grid-area: welcome-container;
}

.btns-container {
  grid-area: btns-container;
}

.header-btn {
  background: var(--main-color);
  border-radius: 999px;
  box-shadow: var(--main-color) 0 10px 20px -10px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}

/* sidebar */
.sidebar {
  padding: 35px;
  grid-area: sidebar;
  background-color: var(--main-color);
  color: white;
  border-radius: 5px;
  font-weight: 600;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  gap: 40px;
}

.top-links {
  padding-top: 30px;
  font-size: 20px;
  gap: 10px;
}

.bottom-links {
  padding-top: 70px;
}

/* main content */
.main-content {
  grid-area: main-content;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas:
    "projects announcements"
    "projects trends";
  padding: 40px;
  background-color: var(--dark-gray);
}

.projects-container {
}

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px;
}

.project {
  background-color: white;
  border-left: var(--accent-color) 7px solid;
}

.project-action img {
  width: 20px;
  height: auto;
}

hr {
  height: 2px;
  color: var(--dark-gray);
}

.announcement p {
  font-size: 14px;
}

.user-name {
  font-size: 14px;
}

.user-info {
  font-weight: 300;
  font-size: 12px;
}
